
   
    <nav class="content-nav">
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Accionistas e inversores   </a>
            </li>
            <li>|</li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Dónde estamos </a>
            </li>
            <li>|</li>
            <li class="nav-item">
              <a class="nav-link" href="#"> Sala de prensa</a>
            </li>
            <li>|</li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Español</a>
            </li>
            <li></li>
            <li>
                <input type="text" name="" id="" placeholder="buscar...">
            </li>
          </ul>
    </nav>
    <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="../../assets/logo_indra.png" alt="" width="80%">
          </a>
        </div>
    </nav>
    


