<div class="reunion-content">
    <div class="card text-center">
        <div class="card-header">
            ¿Listo para hablar con tu equipo?
        </div>
        <div class="card-body">
          <h5 class="card-title"><a href="https://meet.google.com/vxv-gyps-rzv">https://meet.google.com/vxv-gxps-rvv</a></h5>
          
          <p class="card-text">12 de abril a las 2:00 pm</p>
        </div>
        <!-- <div class="card-footer text-muted">
          Footer
        </div> -->
      </div>
</div>
