<div class="detalle-content">

    <div class="info-content">
        <h4>{{titulo}}</h4>
        <section class="description">
            {{descripcion}}
        </section>
        <div class="video-container">
            <video *ngIf="videoUrl" #videoPlayer controls (seeking)="onSeeking(videoPlayer)" (seeked)="onSeeked(videoPlayer)">
                <source [src]="videoUrl" type="video/mp4">
                Tu navegador no soporta la etiqueta de video.
            </video>
        </div>       
    </div>
       
    
    <div class="videos-content">
        <ng-container *ngFor="let video of videos">
            <div class="video-content" (click)="obtenerVideo(video.idVideo)" >
                <p>{{ video.nameVideo }}</p>
            </div>
        </ng-container>
        
        <div class="btn">
            <button class="btn-next" (click)="openDialog()">Cuestionario</button>
        </div>
    </div>
    

</div>
