

<app-nav></app-nav>
<nav>
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['']"  [class.active]="selectedTab === 'perfil'" (click)="selectTab('perfil')">Mi perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="selectedTab === 'preguntas'" (click)="selectTab('preguntas')">Zona de preguntas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['cursos']"  [class.active]="selectedTab === 'cursos'" (click)="selectTab('cursos')">Cursos</a>
      </li>
  </ul>
</nav>
<div class="navigation-content">
    <router-outlet></router-outlet>
</div>
<button class="btn-flotante" (click)="togglePreguntar()">
    <i class="material-icons">question_mark</i>
</button>

<button class="btn-flotante2" (click)="toggleMostrarNotas()">
    <i class="material-icons">note_alt</i>
</button>
<div class="notas-container" *ngIf="mostrarNotas">
    <textarea class="note" placeholder="Empieza a escribir" [(ngModel)]="contenidoNota" (blur)="guardarNota()"></textarea>
</div>

<div class="question-container" *ngIf="preguntar">
    <div class="input-group flex-nowrap mb-3">
        <input type="text" class="form-control input-q" placeholder="Hazme una pregunta">
        <div class="input-group-append">
          <button class="btn btn-success color-b" type="submit">Preguntar</button>
        </div>
      </div>
</div>