
<div class="navigation-content">
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['all']"  [class.active]="selectedTab === 'cursos'" (click)="selectTab('cursos')">Cursos</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['zonapreguntas']" [class.active]="selectedTab === 'preguntas'" (click)="selectTab('preguntas')">Zona de preguntas</a>
        </li>
       
    </ul>
  </nav>
    <router-outlet></router-outlet>
</div>
<button class="btn-flotante" (click)="togglePreguntar()">
    <i class="material-icons">question_mark</i>
</button>

<button class="btn-flotante2" (click)="toggleMostrarNotas()">
    <i class="material-icons">note_alt</i>
</button>
<div class="notas-container" *ngIf="mostrarNotas">
    <textarea class="note" placeholder="Empieza a escribir" [(ngModel)]="contenidoNota" (blur)="guardarNota()"></textarea>
</div>

<div class="question-container" *ngIf="preguntar">
    <div class="input-group flex-nowrap mb-3">
        <input type="text" class="form-control input-q" placeholder="Hazme una pregunta" [(ngModel)]="pregunta">
        <div class="input-group-append">
          <button class="btn btn-success color-b" type="button" (click)="hacerPregunta()">Preguntar</button>
        </div>
    </div>
    <div class="recomendaciones">
        <ng-container *ngFor="let respuesta of respuestaPregunta">
          <div class="respuesta" (click)="cerrar()">
            <p>{{respuesta.respuesta}}</p>
          </div>
        </ng-container>
        <!-- <div  *ngIf="defaultShow" class="respuesta">
          <p>{{defaultResponse}}</p>
        </div> -->
    </div>
</div>