*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika Negative', sans-serif;
  }
  p{
    margin-bottom: 0;
  }
  
  :root {
    --color-primary: #004254; 
    --color-secondary: #266374;
    --color-transparent: rgba(56, 125, 122, 0.247);
  }
  .btn{
    width: 100%;
  }
  .btn-next{
  
    color: white;
    background-color: var(--color-primary);
    padding: 0.3% 5%;
    border-style: none;
    border-radius: 50px;
    margin: auto;
  }
  .btn-next:hover{
    
    background-color: #55b1ac;
  }
  